*.xml linguist-language=pom
*.py linguist-language=python
*.h linguist-language=c++
*.cpp linguist-language=c++
*.dll linguist-language=DLL
*.dll linguist-language=bin
*.dll.a linguist-language=bin
*.e linguist-language=E
