*.xml linguist-language=xml
*.py linguist-language=python
*.h linguist-language=c++
*.cpp linguist-language=c++
*.dll linguist-language=Bin
*.dll linguist-language=Bin
*.dll.a linguist-language=Bin
*.e linguist-language=E
